tag_prefix = "v"
ignore_merge_commits = true
branch_whitelist = [ "main" ]

# Optional: Update version strings in files before committing
# pre_bump_hooks = [ "sed -i 's/version = \".*\"/version = \"{{version}}\"/' Cargo.toml" ]

post_bump_hooks = [
    "git push",
    "git push origin v{{version}}",
]

[changelog]
path = "CHANGELOG.md"
template = "remote"
remote = "github.com"
owner = "netimg"
repository = "test2"

[commit_types]
#chore = { omit_from_changelog = true }
