name: Create Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Determine bump type
        id: logic
        run: |
          { egrep -q '^#\s*stable\b' cog.toml && V=`cog -q get-version` && [ ${V%%.*} = 2 ] && echo type=major || echo type=auto; } >> $GITHUB_OUTPUT

      - name: Semantic Versioning Release
        uses: cocogitto/cocogitto-action@main
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          command: bump
          args: --${{ steps.logic.outputs.type }}

